.services {
  &__container {
    padding-top: 1rem;
  }

  &__data {
    display: grid;
    row-gap: 1rem;
    background-color: var(--container-color);
    box-shadow: 0 2px 6px hsla(var(--hue), 100%, 15%, 0.15);
    padding: 2rem 1.5rem;
    border-radius: 1rem;
    text-align: center;
  }

  &__img {
    width: 135px;
    justify-self: center;
    margin-bottom: var(--m-0-5);
  }

  /* For small devices */
  @media screen and (max-width: 360px) {
    &__img {
      width: 100px;
    }
  }

  /* For medium devices */
  @media screen and (min-width: 576px) {
    &__container {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  /* For large devices */
  @media screen and (min-width: 968px) {
    &__container {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
