.home {
  &__container {
    row-gap: 3rem;
  }

  &__title {
    font-size: var(--biggest-font-size);
    font-weight: var(--font-bold);
    margin-bottom: var(--m-0-75);
  }

  &__description {
    margin-bottom: var(--m-2);
  }
}
