.footer {
  background-color: var(--first-color-lighten);
  padding-bottom: 2rem;

  &__links {
    display: grid;
    row-gap: 0.5rem;
  }

  &__link {
    color: var(--title-color);
  }

  &__container {
    row-gap: 2rem;
  }

  &__logo,
  &__title {
    font-size: var(--h3-font-size);
    margin-bottom: var(--m-0-75);
  }

  &__logo {
    display: inline-block;
    font-weight: var(--font-semi-bold);
    color: var(--title-color);
  }

  &__link,
  &__description {
    font-size: var(--small-font-size);
  }

  &__social {
    display: flex;
    column-gap: 1.5rem;

    &-link {
      font-size: 1.25rem;
      color: var(--title-color);
    }
  }

  &__copy {
    margin-top: 6rem;
    text-align: center;
    font-size: var(--smaller-font-size);
    color: var(--text-color);
  }

  /* For medium devices */
  @media screen and (min-width: 576px) {
    &__container {
      grid-template-columns: repeat(2, 1fr);
    }

    &__description {
      text-align: initial;
    }
  }

  /* For large devices */
  @media screen and (min-width: 968px) {
    &__container {
      grid-template-columns: repeat(5, 1fr);
    }

    &__social {
      align-items: flex-start;

      &-link {
        font-size: 1.45rem;
      }
    }
  }

  @media screen and (min-width: 1024px) {
    &__container {
      column-gap: 3rem;
    }
  }
}
