// Google fonts
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

// Colors (dark-theme)
@mixin dark-theme {
  --first-color: hsl(var(--hue), var(--sat), 60%);
  --first-color-lighten: hsl(var(--hue), var(--sat), 80%);
  --first-color-alt: hsl(var(--hue), var(--sat), 53%);
  --text-color-light: hsl(var(--hue), 4%, 65%);
  --black-color: #1a1a1a;
  --white-color: #fff;
  --first-color-light: hsl(var(--hue), var(--sat), 75%);
  --title-color: hsl(var(--hue), 4%, 95%);
  --text-color: hsl(var(--hue), 4%, 80%);
  --body-color: hsl(var(--hue), 8%, 13%);
  --container-color: hsl(var(--hue), 8%, 16%);
  --scroll-bar-color: hsl(var(--hue), 4%, 32%);
  --scroll-thumb-color: hsl(var(--hue), 4%, 24%);

  #footer {
    background-color: var(--container-color);
  }
}

// CSS variables
:root {
  // Colors (light yellow theme by default)
  --hue: 45;
  --sat: 90%;
  --first-color: hsl(var(--hue), var(--sat), 60%);
  --first-color-lighten: hsl(var(--hue), var(--sat), 80%);
  --first-color-alt: hsl(var(--hue), var(--sat), 53%);
  --text-color-light: hsl(var(--hue), 4%, 65%);
  --black-color: #1a1a1a;
  --white-color: #fff;
  --first-color-light: hsl(var(--hue), var(--sat), 85%);
  --title-color: hsl(var(--hue), 4%, 15%);
  --text-color: hsl(var(--hue), 4%, 35%);
  --body-color: hsl(var(--hue), 0%, 100%);
  --container-color: var(--white-color);
  --scroll-bar-color: hsl(var(--hue), 4%, 85%);
  --scroll-thumb-color: hsl(var(--hue), 4%, 75%);

  // Fonts
  --body-font: 'Poppins', sans-serif;
  --biggest-font-size: 2rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;
  --font-semi-bold: 600;
  --font-bold: 700;

  // Dimensions
  --header-height: 3rem;
  --m-0-5: 0.5rem;
  --m-0-75: 0.75rem;
  --m-1: 1rem;
  --m-1-5: 1.5rem;
  --m-2: 2rem;
  --m-2-5: 2.5rem;
  --m-3: 3rem;

  // Z-index
  --z-tooltip: 10;
  --z-fixed: 100;
}
